/* Шрифти
@font-face {
    font-family: 'Raleway';
    src: local('Raleway') 
        url('Raleway-Bold.woff2') format('woff2'),
        url('Raleway-Bold.woff') format('woff'),
        url('Raleway-Bold.ttf') format('truetype'),
        url('Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') 
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype'),
        url('Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') 
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype'),
        url('Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto') 
        url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype'),
        url('Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */
/* Загальне забирання марджинів */

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

/* Normalize */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.margin-on-header {
    margin-right: 50px;
}
.margin-on-list {
    margin-right: 30px;
}
/* Змінні */
:root {
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-third: #000000;
    --color-accent: #2196F3;
    --color-other: #ffffff;
    --color-alfa: #ffffff85;
    --color-border: #eeeeee;
    
    --color-background-primary: #e5e5e5;
    --color-background-secondary: #2f303a;
    --color-background-third: #f5f4fa;
    --color-background-accent: #2196f3;
    --color-background-other: #ffffff;
    

    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Raleway', sans-serif;
}
/* Контейнер */
.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.flex-box {
    display: flex;
}

/* Властивості на все тіло */
body {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-size: 16px;
    line-height: 1.17;
}

/* Відключення стилю лішок */
li {
    list-style-type: none;
}

/* Відключення стилю посилань */
a {
    text-decoration: none;
}

/* Лого */
.logo {
    font-family: var(--font-family-secondary);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* Хедер */
.header-page {
    background-color: var(--color-background-other);
    border-bottom: 1px solid #ECECEC;
}
.header-page .flex-box {
    justify-content: space-between;
}
.header-left .nav-list,
.header-left, .data-list,
.data-list .link {
    display: flex;
    align-items: center;
}
.header-left, .header-right {
    margin-top: 25px;
    margin-bottom: 25px;
}
 
/* Лого хедер */
.header-page .logo-first-half {
    color: var(--color-accent);
}
.header-page .logo-secondary-half {
    color: var(--color-third);
}
.header-page .logo {
    margin-right: 93px;
}

/* Навігація та особисті дані*/
.nav-list,
.data-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Лише навігація */
.nav-list .link {
    color: var(--color-primary);  
    padding: 8px;
    
} 

/* Ховер, фокус */
.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--color-accent);
}

/* Лише особисті дані */
.data-list .link{
    color: var(--color-secondary);
    padding: 8px;
}

/* Ховер, фокус */
.data-list .link:hover,
.data-list .link:focus {
    color: var(--color-accent);
}

/* Мейн */
main {
    background-color: var(--color-background-primary);
}

/* Заголовки Головна сторінка  */
.title-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Герой */
.hero {
    background-color: var(--color-background-secondary);
    height: 600px;
}
.hero-title {
    color: var(--color-other);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    width: 696px;
    margin: 0 auto;
    padding-top: 200px;
    margin-bottom: 30px;
}
.hero-button {
    color: var(--color-other);
    background-color: var(--color-background-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: var(--color-accent);
    
}

/* Ховер */
.hero-button:hover {
    opacity: 0.8;
}

/* Заховані заголовки
.hidden-title {
    opacity: 0;
} */

/* Наші переваги */
.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.subtitle-text {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.list-benefits {
    min-width: 270px;
    display: inline-flex;
    padding: 94px 0;

}
/* Чим ми займаємось */
.what-we-do .flex-box{
    justify-content: space-between;
    margin-bottom: 94px;
}
.what-we-do .title-main {
    margin-bottom: 50px;
}

/* Наша команда */
.section-our-team {
    background-color: var(--color-background-third);
}
.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.text-employment {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-our-team .title-main {
    padding-top: 94px;
    margin-bottom: 50px;
}
.section-our-team .flex-box{
    justify-content: space-between;
}
.our-team-box {
    background-color: var(--color-background-other);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px var(--color-secondary);
    /* border-left: solid var(--color-secondary) 1px;
    border-right: solid var(--color-secondary) 1px; */
}

/* Секція наші пропозиції */
/* Кнопки фільтри */
.button-filter {
    background-color: var(--color-background-third);
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: solid var(--color-background-third) 1px;
    border-radius: 4px;
}

/* Ховер, фокус */
.button-filter:hover,
.button-filter:focus {
    background-color: var(--color-background-accent);
    color: var(--color-other);
    border: solid var(--color-background-accent) 1px;
    box-shadow: 0px 1px 3px var(--color-secondary);
}
/* Портфоліо */

/* Кнопки */
.buttons { 
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;
}
.buttons .button-margin-on {
    margin-right: 8px;
}
/* Наші пропозиції */
.our-orders {
    padding-bottom: 94px;
}
.portfolio-ul {
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-list {
    display: block;
    margin-bottom: 30px;
    background-color: var(--color-background-other);
    border: solid var(--color-border);
}
.decorate-list {
    padding-left: 24px;
}

/* Заголовки сторінка портфоліо */
.title-portfolio {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
/* Параграфи сторінки портфоліо */
.text-portfolio {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* Футер */
.footer-page {
    background-color: var(--color-background-secondary);
    padding: 60px 0;
}

/* Лого футер */
.footer-page .logo-first-half {
    color: var(--color-accent);
}
.footer-page .logo-secondary-half {
    color: var(--color-background-other);
}
.footer-page .logo {
    display: block;
    margin-bottom: 20px;
}

/* Адрес футер */
.footer-address {
    display: flex;
    flex-direction: column;
    /* max-width: 231px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
}
.text-address {
    color: var(--color-background-other);
    font-style: normal;
    padding-bottom: 9px;
}
.link-address {
    color: var(--color-alfa);
    font-style: normal;
    padding-bottom: 9px;
}


/* Ховер, фокус */
.link-address:hover,
.link-address:focus {
    color: var(--color-accent);
}